.inputWrapper {
  display: flex;
  flex-direction: column;

}

.label {
  color: #fff;
  margin-bottom: 14px;
}

.input {
  width: 100%;
  border-radius: 13px;
  box-shadow: 0 3px 6px 0 rgba(46, 46, 46, 1) inset,
  0 3px 4px 0 rgba(75, 75, 75, 0.25);
  background-color: #2E2E2E;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}

.inputContainer {
  position: relative;
  button {
    position: absolute;
    right: 30px;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 52px;
    color: green;

  }
}