.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 100px);
  margin: 0 auto;

  .pageTitle {
    color: #fff;
    font-size: 36px;
    line-height: 48px;
  }

  .card {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 1px 36px;
    display: flex;
    flex-direction: column;

  }

  .form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
  }


}


